.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 30vh;
  margin: 0.5rem;
  width: 90%;
  max-width: 40rem;
  z-index: 100;
  overflow: hidden;
  background-color: rgb(100, 63, 70);
}

.header {
  background: #740002;
  padding: 1rem;
}

.header h2 {
  text-align: center;
  margin: 0;
  color: white;
}

.content {
  padding: 1rem;
  color: rgb(255, 255, 255);
}

.actions {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .modal {
    position: fixed;
    width: 90%;
    margin: 0;
    top: 35vh;
  }
}
