.label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

.button {
  font-size: large;
  padding: 0.5rem 1.5rem;
  border: 1px rgb(1, 6, 74);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 4px rgb(18, 18, 18);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:active {
  background: rgb(184, 183, 183);
  border-color: rgb(57, 57, 57);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

.par{
  text-align: center;
  font-size: large;
}

@media (max-width: 600px) {
  .button {
    width: 100%;
  }
}

